<!-- Sidebar Start -->
<aside class="left-sidebar">
	<!-- Sidebar scroll-->
	<div>
		<div class="brand-logo d-flex align-items-center justify-content-between" style="margin-top: 80px;">
			<a href="/enman-apps" class="text-nowrap logo-img">
				<img src="assets/enman-apps/images/logos/enman-app.png" width="220" alt="" />
			</a>
			<div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
				<i class="ti ti-x fs-8"></i>
			</div>
		</div>
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
			<ul id="sidebarnav">
				<li class="nav-small-cap">
					<i class="ti ti-dots nav-small-cap-icon fs-4"></i>
					<span class="hide-menu" style="letter-spacing: 2px">Main Menu ENMAN (円満)</span>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" routerLink="/" aria-expanded="false">
						<span>
							<i class="ti ti-layout-dashboard"></i>
						</span>
						<span class="hide-menu" style="letter-spacing: 2px;">Main Menu</span>
					</a>
				</li>
				<!-- AM COMPONENT -->
				<div>
					<li class="nav-small-cap">
						<i class="ti ti-dots nav-small-cap-icon fs-4"></i>
						<span class="hide-menu" style="letter-spacing: 2px">PLANT SECTION</span>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/enman-apps/aio-kejayan" aria-expanded="false">
							<span>
								<i class="ti ti-alert-circle"></i>
							</span>
							<span class="hide-menu" style="letter-spacing: 0.5px">PT. AIO Kejayan</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/enman-apps/aio-sukabumi" aria-expanded="false">
							<span>
								<i class="ti ti-alert-circle"></i>
							</span>
							<span class="hide-menu" style="letter-spacing: 0.5px">PT. AIO Sukabumi</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/enman-apps/otsuka-indonesia" aria-expanded="false">
							<span>
								<i class="ti ti-alert-circle"></i>
							</span>
							<span class="hide-menu" style="letter-spacing: 0.5px">PT. Otsuka Indonesia (OI)</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/enman-apps/widatra-bhakti" aria-expanded="false">
							<span>
								<i class="ti ti-alert-circle"></i>
							</span>
							<span class="hide-menu" style="letter-spacing: 0.5px">PT. Widatra Bhakti (WB)</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/enman-apps/lautan-otsuka-chemical" aria-expanded="false">
							<span>
								<i class="ti ti-alert-circle"></i>
							</span>
							<span class="hide-menu" style="letter-spacing: 0.5px">PT. Lautan Otsuka Chemical</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/enman-apps/merapi-utama-pharma" aria-expanded="false">
							<span>
								<i class="ti ti-alert-circle"></i>
							</span>
							<span class="hide-menu" style="letter-spacing: 0.5px;">PT. Merapi Utama Pharma</span>
						</a>
					</li>
				</div>
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->