.background-change {
    background-color: #b3d9ec;
    height: 900px;
}
.card-header {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    letter-spacing: 2px;
}
.card {
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 5px;
        margin-bottom: 10px;
}