<div class="container-fluid background-change">
    <div class="row">
        <div class="text-center" style="margin-bottom: 500; margin-top: 20px;">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header" style="letter-spacing: 1px; border-radius: 5px; text-align: start;">
                            MAIN DASHBOARD KEJAYAN
                        </div>
                        <a href="/enman/aio-kejayan">
                            <img src="assets\enman-apps\images\kejayan.jpg" alt=""
                                style="height: 280px; width: 350px; border-radius: 5px; margin-bottom: 10px; margin-top: 10px;" />
                            <div class="card-header" style="letter-spacing: 1px; border-radius: 5px;">
                                PT. Amerta Indah Otsuka Kejayan (AIO)
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>